
body{
    font-family: arial;
    background-color: #0D203C;
}

/* --------------main-------------- */


/*----------banner----------*/

.swiper-container {
    max-width: 1300px;
    margin: 140px auto 0;
    
}

    
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      margin: 0 auto;
      background-color: #0D203C;
}

.swiper-slide img{
    width: 100%;
     
}





/*----------about----------*/

.about{}

.about ul{
    display: flex;
    margin: 0 auto;
    padding: 250px 0;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    
}

.about li h1{
    font-weight: bold;
    font-size: 38px;
    color: white;
    margin-right: 30px; 
    align-self: center;
    /* width: 200px; */
    
    
}

.about li h2{
    font-size: 26px;
    color: white;
    max-width: 580px;
   line-height: 1.8;
}

/*----------product----------*/

.product{
    /* background-color: #7E813A; */
    padding-bottom: 40px; 
   
}

.product h1{

    color: white;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    /* background-color: red; */
    padding: 40px 0;
}

.product-item{
    /* outline: 1px solid red ; */
    
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.product-item img{
    display: block;
    width: 100%;
    
}

.product-item a{
    display: block;
    padding: 5px;
}

.product-item .item1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


.product-item .item2{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.product-item .item3{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.product-item .item4{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.product-item .item5{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.product-item .item6{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.product-item .item7{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.product-item .item8{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.product-item .item9{
    grid-column: 4 / 6;
    grid-row: 2 / 4;
}

/*----------inspiration----------*/

.inspiration{
    height: 550px;
    color:white;
}

.inspiration h1{
    padding: 60px 0 0;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 60px;

}

/*----- inspiration_slider----- */

.inspiration_slider{}

.your-class{
    max-width: 1200px;
    margin: 60px auto;
    padding: 0; 
}


.your-class li{}

.your-class a{
    display: block;
    max-width: 350px;
    margin: 0 auto;   
}
    

.your-class img{
    width: 100%;
}


.inspiration_slider_rwd{
    display: none;
}


/* --------------hover-------------- */

.banner button:hover{
    background-color: #595757;
}

.product-item img:hover{
    opacity: .5;
}

.inspiration  i:hover{
    color: #595757;
}

.inspiration img:hover{
    opacity: .5;
}



/* --------------RWD-------------- */

@media screen and (max-width: 428px) {


        
    body{
        background-color: black;
    }

    /* --------------main-------------- */


    /*----------banner----------*/

    .swiper-container {
        /* max-width: 1300px; */
        margin: 60px auto 0;
        background-color: #0D203C;
  
    }

        
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        margin: 0 auto;
        background-color: #0D203C;
    }

    .swiper-slide img{
        
        
    }





    /*----------about----------*/

    .about{
        background-color: #0D203C;
        
    }

    .about ul{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 50px 0 60px;
        /* max-width: 1000px; */
        justify-content: space-between;
        align-items: center;
        
    }

    .about li h1{
        font-weight: bold;
        font-size: 30px;
        color: white;
        margin-right: 0px; 
        padding: 40px 0;
        /* align-self: center; */
        /* width: 200px; */
        
        
    }

    .about li h2{

        font-size: 16px;
        color: white;
        padding: 0 30px;
        line-height: 1.6;
    }

    /*----------product----------*/

    .product{

        padding-bottom: 40px; 
        background-color: #0D203C;
    
    }

    .product h1{

        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        /* background-color: red; */
        padding: 40px 0;
    }

    .product-item{
        /* max-height: 800px; */
        padding: 0 30px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .product-item img{
        display: block;
        width: 100%;
        
    }

    .product-item a{
        display: block;
        padding: 2px;
    }

    .product-item .item1{
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }


    .product-item .item2{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .product-item .item3{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .product-item .item4{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .product-item .item5{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .product-item .item6{
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }

    .product-item .item7{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .product-item .item8{
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    .product-item .item9{
        
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }

    /*----------inspiration----------*/

  


    .inspiration{
        height: 420px;
        /* color:white; */
        background-color: #0D203C;
    }

    .inspiration h1{
        padding: 40px 0 ;

        font-size: 30px;
 
        margin-bottom: 0px;

    }

    /*----- inspiration_slider----- */

    .inspiration_slider{}

    .your-class{
        max-width: 320px;
        margin: 0px auto 50px;

    }


    .your-class li{}

    .your-class a{
        max-width: 300px;
    }
        

    .your-class img{}



}








